---
import Button from '../UI/Button.astro';

const {
  header,
  copy,
  button,
  background_image,
} = Astro.props;
---

<section
  class="relative min-h-[70vh] flex items-center bg-cover pt-30"
  style={`background-image: url(${background_image}); background-position: center 20%;`}
>
  <div class="container">
    {header && copy && button &&
      <div class="max-w-3xl text-white bg-gray-900/50 p-10 rounded-md">
        {header && <h1 class="text-4xl md:text-6xl font-bold mb-4 text-white">{header}</h1>}
        {copy && <p class="text-xl md:text-2xl mb-8">{copy}</p>}

        {button && <div class="flex flex-wrap gap-4">
          {
            button && (
              <Button href={button.url} variant="primary" size="lg">
                {button.text}
              </Button>
            )
          }
        </div>}
      </div>
    }
  </div>
</section>
